{% load static %}
<html>
    <head>
        <title>Logan blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        <style>
            body  {
            background-image: url("https://hdqwalls.com/wallpapers/spiderman-into-the-spider-verse-movie-4k-2018-art-h0.jpg");
            background-color: #5DBCD2;
            border: 2px solid black;
            padding: 25px;
            background-repeat: no-repeat;
            background-size: 1500px;
            }
        </style>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Logan's blog ;)</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>